{% extends "base.html" %}

{% block title %}About Clicker{% endblock %}

{% block content %}
    <h1>Welcome to Clicker</h1>
    <hr>
    <p>The TurningPoint clicker attendance system is commonly used throughout the United States, but there are many problems with this system that need to be fixed.  For example, there are frequent connection issues between the individual clicker and the host.  This software issue prevents a student from getting attendance for the day, oftentimes without any immediate indication that something went wrong.  Also, if students loose or forget to bring their clickers, they also don’t receive credit for their attendance, and possibly need to spend about $35 on a replacement.  These are just a few of the problems with the system in its current form.</p>
    <p>Enter: this site.  "Clicker" is a system which abandons the TurningPoint clicker devices in favor of much more commonly used devices: smart phones and laptops.  It completely replaces the TurningPoint clicker solution with a webapp which provides a simple and intuitive interface and is compatible with practically any device with internet capabilities.  Better yet, professors are not required to set up any equipment before taking a quiz or attendance and the whole system comes at no additional cost to the students.  But wait, there's more!  Students don't even have to create an account; they can already login using their existing Google accounts provided by ISU.</p>
    <p>So what are you waiting for?  Just <a href="/home">login with your Google account</a> and take advantage of the hot new quiz/attendance solution: "Clicker".</p>
{% endblock %}
