{% extends "base.html" %}

{% block title %}Quizzes{% endblock %}

{% block script %}
    <script type="text/javascript" src="static/js/quiz.js"></script>
    <script type="text/javascript" src="static/js/present.js"></script>
{% endblock %}

{% block style %}
    <style>
        span.clicky {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Quizzes</h1>
    <div class="row">
        <ul class="list-group">
            {% for quiz in quizzes %}
                <li class="list-group-item">
                    <span class="badge clicky" onClick="return displayQuiz({{ quiz.key.id() }}, 0)">Start</span>
                    {{ quiz.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
